* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;


}
#small{
    font-size: 14px;
}

/* #main{

} */
nav {
    position: fixed;
    background-color: #111111;
    color: white;
    height: 14vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2vw 10vw;
    z-index: 10;
}

.sec-nav {
    display: flex;
    gap: 1.5vw;
    align-items: flex-start;
    padding: 1vh 0;
    position: relative;
    z-index: 10;
}

.sec-nav h4 {
    font-size: 0.8vw;
    font-weight: 700;
    margin-bottom: 3.5vw;
}

.sec-nav h5 {
    margin-bottom: 1vw;
    display: none;
    overflow: hidden;
}

.sec-nav h5 span {
    font-size: 0.9vw;
    font-weight: 500;
    display: inline-block;
}

nav button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5vw;
    padding: 1vw 1vw;
    background-color: #12A34E;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 1vw;
    font-weight: 700;

}

nav button svg {
    height: 1vw;
}

#nav-bottom {
    background-color: #111;
    position: absolute;
    height: 0%;
    width: 80%;
    /* transition: all ease 0.75s; */
    bottom: 0;
    border-bottom: 1px solid #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 15vw;
    z-index: 9;
    top: 100%;


}






/* nav:hover .nav-bottom{
    height: 100%;
    bottom: -100%;
    background-color: #111;
} */

#page1 {
    height: 100vh;
    width: 100%;
    background-color: #111;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
  
}


#page1 h1 {
    font-size: 9vw;
    line-height: 1;
    font-weight: 700;
}

.c-bttn__morp {
    background-color: #12A34E;
    border-radius: 50%;
    cursor: pointer;
}

.c-bttn__morp:hover {
    background-color: #054d23;
}

#page1 p {
    text-align: center;
    font-weight: 400;
    font-size: 25px;
    margin-top: 3.6vh;
}

.page1-btn {
    display: flex;
    justify-content: center;
    align-items: center;

}

.page1-btn h4 {
    font-size: 1.2vw;
    font-weight: 200;
    font-style: normal;
    padding: 10px 20px;
    margin: 0 0.3vh;
    border: 1px solid #4d4c4c;
    border-radius: 30px;

}

#moving-div {
    position: absolute;
    bottom: 3%;
    width: 50%;
    padding: 1.2vw;
    white-space: nowrap;
    overflow: hidden;
}

#moving-div .move {
    display: inline-block;
    animation-name: mobe;
    animation-duration: 14s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#moving-div .move img {
    height: 1.5vw;
    margin: 0 2vw;
}

@keyframes mobe {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }

}

#blur-left {
    height: 100%;
    width: 15%;
    background: linear-gradient(to left, transparent, #111111);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

#blur-right {
    height: 100%;
    width: 15%;
    background: linear-gradient(to right, transparent, #111);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

#page2 {
    height: 100vh;
    width: 100%;
    background-color: #111;
    color: white;
    position: relative;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #333;
    padding: 0vw 12vw;
    padding-bottom: 6vw;

}

#page2-left {
    height: 100%;
    width: 30%;
    /* background-color: gray; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 3vw 0;
    font-size: 17px;
    font-weight: 400;
}

#page2-right {
    height: 100%;
    width: 50%;

}

.right-elem {
    position: relative;
    padding-top: 2vw;
    padding-bottom: 6vw;
    border-bottom: 1px solid #333;
    display: flex;
    flex-direction: column;


}

.right-elem h2 {
    font-size: 1.5vw;
    font-weight: 400;
}

.right-elem img {
    height: 6vw;
    width: 6vw;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    scale: 0;
}

#page3 {
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: url(https://lazarev.kiev.ua/la24/reel-cover.webp);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page3-center {
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

}

.page3-center .icon {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    border-radius: 50%;
    padding: 2.5vw;
}

.page3-center .icon i {
    color: black;
    font-size: 3vw;
}

.page3-center h5 {
    font-size: 17px;
    background-color: #fff;
    color: black;
    border-radius: 50px;
    margin-top: 0.5vw;
    transform: translateY(30%);
    font-weight: 700;
    padding: 10px 20px;
    opacity: 0;
    transition: all ease 0.5s;
    text-transform: uppercase;

}

.page3-center:hover h5 {
    opacity: 1;
    transform: translateY(0%);

}

#page3 video {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    top: 0;
    transform: scaleX(0.7) scaleY(0);
    opacity: 0;
    border-radius: 30px;
}

/* page4 */

.page4 {

    height: 100vh;
    width: 100%;
    display: flex;
}

.page4left {
    height: 100vh;
    width: 40%;
    color: #000;
    font-weight: 600;
    font-size: 1.6vw;
    padding: 8vw 5vw;

}


.page4right {
    height: 100vh;
    width: 70%;

    display: flex;
    flex-direction: column;
    gap: 2vw;
    padding: 8vw;



}

.page4right p {
    font-size: 1.8vw;
    width: 97%;
    padding-left: 5vw;
}

.page4right span {
    font-size: 1vw;
    padding-left: 5vw;
    text-transform: uppercase;
    color: #A9A9A9;
    font-weight: 550;
}

.page5 {

    display: flex;
    align-items: center;
    justify-content: center;

}

.page5 .middle-box {
    margin: 2vw 5vw;
}

.page5 .middle-box h1 {
    font-size: 4.5vw;
    font-weight: 400;
    margin: 20px 0px 0px 24px;
}

.page5 .middle-box h3 {
    font-weight: 700;
    font-size: 18px;
    margin: 24px;
}

.page5 .middle-box h4 {
    margin: 80px 24px;
    font-size: 1vw;
    font-weight: 300;
    color: #A9A9A9;
}

.page5 .below-box {
    margin: 2vw 7vw;
}

.page5 .below-box h1 {
    font-size: 4.5vw;
    font-weight: 400;
    margin: 20px 0px 0px 24px;
}

.page5 .below-box h3 {
    font-weight: 700;
    font-size: 18px;
    margin: 24px;
}

.page5 .below-box h4 {
    margin: 80px 24px;
    font-size: 1vw;
    font-weight: 300;
    color: #A9A9A9;
}

#page6 {

    height: 67vh;
    width: 100%;
    position: relative;
}

.textinpage5 {
    position: absolute;
    top: 30%;
    left: 31%;

}

.textinpage5 h3 {
    font-size: 1vw;
    float: left;
    width: 14%;
    margin: 1vw 12vw 3.5vw 0;
    color: #5D5D5D;
}

.textinpage5 h1 {
    font-size: 2.3vw;
    font-weight: 500;
    width: 85%;
    text-align: justify;

}

#page7 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    cursor: pointer;
}

.section1 {
    height: 76vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5vh 10vw;
    padding-bottom: 15vh;

}

.sec-1left {
    height: 100%;
    width: 28%;
    border-top: 2px solid #000;
    padding-top: 4vh;
    cursor: pointer;
}

.sec-1left h1 {
    font-size: 2.5vw;
    font-weight: 400;
}

.sec-1left p {
    font-size: 24px;
    font-weight: 500;
    margin-top: 10vh;
}

.button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.button img {
    position: absolute;
    right: 28%;
}

.button button {
    padding: 1.3vw 4vw 1.3vw 2vw;
    border-radius: 50px;
    margin: 4vw 0;
    border-style: none;
    background-color: #4E5AFF;
    color: white;
    font-weight: 600;
    font-size: 1vw;
    text-align: justify;
    text-transform: uppercase;

}

.block7svgs {
    cursor: pointer;
}

.block7svgs img {
    height: 1.3vw;
    width: 1.5vw;
    display: inline;
    margin-top: 3vw;
}

.sec1-right {
    height: 100%;
    width: 69%;
    position: relative;

}

.sec1-right img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.sec1-right video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity ease 0.2s;
}

/* #page8{

} */

#page9 {
    min-height: 50vh;
    width: 100%;
    background-color: #111111;
    color: #fff;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 3vw;
}

.btn {
    width: 30%;
    position: relative;
    position: sticky;
    top: 15%;
}

.btn>button {
    padding: 1.3vw 3.5vw;
    border-radius: 50px;
    border-style: none;
    background-color: #4E5AFF;
    color: white;
    font-weight: 600;
    font-size: 1vw;
}

.btn img {
    position: absolute;
    right: 50%;
    bottom: 45%;
}

.page9-right {
    width: 70%;
    border-bottom: 2px solid #fff;
    padding-bottom: 4vw;

}

.page9-right p {
    width: 70%;
    font-size: 48px;
    line-height: 58px;
    font-weight: 400;
    margin-left: 8vw;


}

.page9-right>p span {
    border-right-color: red;
    width: 13vw;
    display: inline-block;
}

.page9-content {
    min-height: 100vh;
    width: 100%;
    background-color: #111111;
    padding: 2vw;
    display: flex;


}

.border-of-wholediv {
    display: flex;
    align-items: center;
    width: 80%;
    height: 2px;
    background-color: #fff;
}

.empty {
    height: 100%;
    width: 30%;
    /* background-color: aqua; */

}

.left-content {
    height: 100%;
    width: 70%;
    color: #ffffff;
    padding: 2vw 9vw;
    /* background-color: red; */
}

.first {
    font-size: 2.5rem;
    border-bottom: 1px solid grey;
    padding-bottom: 2vw;
    cursor: pointer;

}

.firstp {
    display: flex;
    padding: 2vw 0;
    cursor: pointer;
}

.firstp p {
    padding: 0.5vw 2vw;
    background-color: #111;
    border-radius: 50px;
    border: 2px solid #fff;
    margin: 0 0.3vw;
    font-size: 1vw;
    font-weight: 700;
}

.second {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2vw;
    border-bottom: 2px solid grey;
    padding-bottom: 3vw;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.second p {
    width: 55%;
    font-size: 1vw;
    position: relative;
    z-index: 8;

}

.second h1 {
    font-size: 2vw;
    position: relative;
    z-index: 8;
    cursor: pointer;
}

.over {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #222;
    ;
    transform: translateY(-120%);
    opacity: 0;
    transition: all cubic-bezier(0.215, 0.610, 0.355, 1) 0.5s;

}

.second:hover h1 {
    padding-left: 1vw;
}

.second:hover p {
    padding-right: 1vw;
}

.second:hover .over {
    transform: translateY(0);
    opacity: 1;
    top: 1;

}

summary::marker {
    content: "";
}

#page10 {
    height: 100vh;
    width: 100%;
    background-color: #fff;
}


#page10-top {
    height: 67vh;
    width: 100%;
    background-color: #fff;
    padding: 6vw 12vw;
    display: flex;
    justify-content: center;
    align-items: center;


}

#page10-top h1 {
    font-size: 6vw;
    font-weight: 700;
    line-height: 1;
}

#page10-middle {
    height: 75vh;
    width: 84%;
    display: flex;
    flex-direction: row;
}

.middle-left {
    height: 75vh;
    width: 30%;
    display: flex;
    align-items: start;
    justify-content: center;
    padding-top: 6vh;
    margin-left: 6vw;

}

.middle-left-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4E5AFF;
    border-radius: 50px;
    width: 16vw;
    gap: 1vw;
    position: sticky;
    cursor: pointer;
}

.middle-left-button h4 {
    padding: 1.3vw 0;
    font-size: 1vw;
    text-transform: uppercase;
    color: #fff;
}

.middle-right p {
    font-size: 1.6vw;
    width: 68%;
    margin-top: 6vh;
}

.middle-right {
    height: 75vh;
    width: 70%;
    margin-left: 6vw;

}

#page10-buttom {
    height: 50vh;
    width: 80%;
    padding: 0 10vw;
    margin: 2vw 10vw;
    display: flex;

}

.page10-0 {
    height: 100%;
    width: 35%;
    border-right: 2px solid #dadada;
}

.page10-1 {
    height: 100%;
    width: 50%;
    border-right: 2px solid #dadada;
}

.page10-2 {
    height: 100%;
    width: 40%;
    border-right: 2px solid #dadada;
}

.page10-3 {
    height: 100%;
    width: 30%;
    border-right: 2px solid #dadada;
}

.page10-4 {
    height: 100%;
    width: 20%;
    border-right: 2px solid #dadada;
}

.btn-all {
    padding: 3vh 0;
}

.btn-all h5 {
    font-size: 0.9vw;
    font-weight: 500;
    margin-bottom: 4vh;

}

.btn-all h4 {
    background-color: #111;
    color: #fff;
    width: 80%;
    padding: 5px 10px;
    margin-bottom: 0.5vh;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 400;
    display: flex;
    align-items: center;
}
.btn-all h4 span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5vw;
    height: 1.5vw;
    background-color: #333;
    border-radius: 50%;
    padding:0.5vw;
    margin-right: 0.5vw;
}
.page12{
    height: 100vh;
    width: 100%;

}
.footer{
    height: 17vh;
    width: 100%;
    background-color: #000;
    position: relative;
}
.extra{
    height: 15vh;
    width: 80%;
    background-color: #000;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10vw;
    padding: 0 7vw;
    border-top: 1px solid gray;
    position: absolute;
    bottom: 0;
}
.extra p{
    font-size: 1vw;
    font-weight: 400;

}
.extra:hover{
    background-color: rgb(71, 71, 71);
   
}
.extra:hover p{
    font-size: 1.02vw;
    padding: 0 1vw;
}